.terraform/
*.tfstate*
*.backup
*.exe
*.zip
*.tar.gz
infra/.terraform/
infra/terraform.tfstate*
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
